<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoteDash App</title>
    <!-- <link rel="stylesheet" href="../styles.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">




</head>
<body>
    <div class="header">
        <h1>NoteDash App</h1>
        <h3>Start creating new Notes:</h3>
        <form action="/add_note" method="post">
            <textarea 
                name="note_text" 
                placeholder="Take a note..." 
                rows="5"         
                cols="50"        
                style="color: grey;">
            </textarea>

            <select name="note_color">
                <option value="yellow">Yellow</option>
                <option value="lightblue">Blue</option>
                <option value="pink">Pink</option>
                <option value="lightgreen">Green</option>
                <!-- <option value="orange">Orange</option> -->
                <option value="purple">Purple</option>
                <option value="gray">Gray</option>
            </select>
            <button type="submit" class="add-button">Add</button>
        </form>
    </div>

    <div class="note-container">
        {% for note in notes %}
        <div class="note {{ note.color }}">
            <p>{{ note.text }}</p>
            <form action="/delete_note/{{ loop.index0 }}" method="post">
                <button type="submit" class="delete-button">Delete</button>
            </form>
        </div>
        {% endfor %}
    </div>
</body>
</html>
